<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8"></meta>
    <link href="https://cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/nanumgothic.css" rel="stylesheet"></link>
    <style>
        body { font-family: 'Nanum Gothic', serif; }
        div {
            font-size: 12pt;
            width: 100%;
        }
        table {
            width: 100%;
            margin: 0%;
            border : 1px solid black;
            vertical-align: center;
            border-collapse: collapse;
            table-layout: fixed;
        }
        th, td {
            border: 1px solid black;
        }
        tr, td {
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 2px;
        }
        .number{
            text-align: right;
            padding-right: 2px;
        }
        .nocol {
            text-align: center;
        }
        #itemNm {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</head>
<body>
    <div>
        <table id="userTable" >
            <thead>
                <tr>
                    <th rowspan="2" style="text-align: center; width: 2%;">No</th>
                    <th rowspan="2" style="text-align: center; width: 5%;">플랜트</th>
                    <th rowspan="2" style="text-align: center; width: 4%;">차종</th>
                    <th rowspan="2" style="text-align: center; width: 14%;">품번</th>
                    <th rowspan="2" style="text-align: center; width: 17%;">품명</th>
                    <th rowspan="2" style="text-align: center; width: 6%;">종전가<br />(원/EA)</th>
                    <th:block th:switch="${colspanVal}">
                        <th th:case="2" colspan="2" style="text-align: center;">가결 결정내역(원/EA)</th>
                        <th th:case="3" colspan="3" style="text-align: center;">가결 결정내역(원/EA)</th>
                        <th th:case="4" colspan="4" style="text-align: center;">가결 결정내역(원/EA)</th>
                        <th th:case="5" colspan="5" style="text-align: center;">가결 결정내역(원/EA)</th>
                        <th th:case="6" colspan="6" style="text-align: center;">가결 결정내역(원/EA)</th>
                    </th:block>
                    <th rowspan="2" style="text-align: center; width: 7%;">비고</th>
                </tr>
                <tr>
                    <th:block th:switch="${colspanVal}">
                        <th:block th:case="2">
                            <th style="text-align: center; width: 22.5%;"><span th:text="${colTitle1}">23년09월</span></th>
                            <th style="text-align: center; width: 22.5%;"><span th:text="${colTitle2}">24년01월</span></th>
                        </th:block>
                        <th:block th:case="3">
                            <th style="text-align: center; width: 15%;"><span th:text="${colTitle1}">23년09월</span></th>
                            <th style="text-align: center; width: 15%;"><span th:text="${colTitle2}">24년01월</span></th>
                            <th style="text-align: center; width: 15%;"><span th:text="${colTitle3}">24년01월</span></th>
                        </th:block>
                        <th:block th:case="4">
                            <th style="text-align: center; width: 11.25%;"><span th:text="${colTitle1}">23년09월</span></th>
                            <th style="text-align: center; width: 11.25%;"><span th:text="${colTitle2}">24년01월</span></th>
                            <th style="text-align: center; width: 11.25%;"><span th:text="${colTitle3}">24년01월</span></th>
                            <th style="text-align: center; width: 11.25%;"><span th:text="${colTitle4}">24년01월</span></th>
                        </th:block>
                        <th:block th:case="5">
                            <th style="text-align: center; width: 9%;"><span th:text="${colTitle1}">23년09월</span></th>
                            <th style="text-align: center; width: 9%;"><span th:text="${colTitle2}">24년01월</span></th>
                            <th style="text-align: center; width: 9%;"><span th:text="${colTitle3}">24년01월</span></th>
                            <th style="text-align: center; width: 9%;"><span th:text="${colTitle4}">24년01월</span></th>
                            <th style="text-align: center; width: 9%;"><span th:text="${colTitle5}">24년01월</span></th>
                        </th:block>
                        <th:block th:case="6">
                            <th style="text-align: center; width: 7.5%;"><span th:text="${colTitle1}">23년09월</span></th>
                            <th style="text-align: center; width: 7.5%;"><span th:text="${colTitle2}">24년01월</span></th>
                            <th style="text-align: center; width: 7.5%;"><span th:text="${colTitle3}">24년01월</span></th>
                            <th style="text-align: center; width: 7.5%;"><span th:text="${colTitle4}">24년01월</span></th>
                            <th style="text-align: center; width: 7.5%;"><span th:text="${colTitle5}">24년01월</span></th>
                            <th style="text-align: center; width: 7.5%;"><span th:text="${colTitle6}">24년01월</span></th>
                        </th:block>
                    </th:block>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${itemList}">
                    <td class="nocol" th:text="${item.no}">1</td>
                    <td style="text-align: center;" th:text="${item.plantCd}">1100</td>
                    <td style="text-align: center;" th:text="${item.carModel}">US4</td>
                    <td th:text="${item.itemNo}">88310-CG310NNBSS</td>
                    <td th:text="${item.itemNm}" id="itemNm">FRAME ASSY - PASS, LH (SAB)</td>
                    <td class="number" th:text="${item.curPrice}">40,072</td>
                    <th:block th:switch="${colspanVal}">
                        <th:block th:case="2">
                            <td class="number" th:text="${item.mon1}">40,845</td>
                            <td class="number" th:text="${item.mon2}">40,845</td>
                        </th:block>
                        <th:block th:case="3">
                            <td class="number" th:text="${item.mon1}">40,845</td>
                            <td class="number" th:text="${item.mon2}">40,845</td>
                            <td class="number" th:text="${item.mon3}">40,845</td>
                        </th:block>
                        <th:block th:case="4">
                            <td class="number" th:text="${item.mon1}">40,845</td>
                            <td class="number" th:text="${item.mon2}">40,845</td>
                            <td class="number" th:text="${item.mon3}">40,845</td>
                            <td class="number" th:text="${item.mon4}">40,845</td>
                        </th:block>
                        <th:block th:case="5">
                            <td class="number" th:text="${item.mon1}">40,845</td>
                            <td class="number" th:text="${item.mon2}">40,845</td>
                            <td class="number" th:text="${item.mon3}">40,845</td>
                            <td class="number" th:text="${item.mon4}">40,845</td>
                            <td class="number" th:text="${item.mon5}">40,845</td>
                        </th:block>
                        <th:block th:case="6">
                            <td class="number" th:text="${item.mon1}">40,845</td>
                            <td class="number" th:text="${item.mon2}">40,845</td>
                            <td class="number" th:text="${item.mon3}">40,845</td>
                            <td class="number" th:text="${item.mon4}">40,845</td>
                            <td class="number" th:text="${item.mon5}">40,845</td>
                            <td class="number" th:text="${item.mon6}">40,845</td>
                        </th:block>
                    </th:block>
                    <td ></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
